.experienceBackground{
    width: fit-content;
    background-color: aqua;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);;
}

.schoolTitle {
    font-size: x-large;
    color: black;
}

.schoolDescription{
    font-size: medium;
    color: black;
}