.containerConsole{
    position: relative;
    height: 50vh;
    width: 100vw;
    margin:auto;
}
.sizeConsole{
    width: 50vw;
    height: 20vh;
}

.headerConsole{
    background-color: aliceblue;
}

.flex{
    display: flex;
}

.titleConsole{
    margin:auto;
    font-size: large;
}

.closeButton, .reduceButton, .extendButton{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto 2px;
}

.closeButton{
background-color: red;
} 
.reduceButton{
background-color: orange;
}
.extendButton{
background-color: green;
}

.contentConsole{
    padding:1vw;
    height:fit-content;
    background-color: black;
    color: greenyellow;
}
.descriptionContent{
    margin: 0;
}

.contactText{
    color: unset;
    display: block; 
    margin-top:1vw;
}



@media (max-width: 900px) {
    .containerConsole{
        position: relative;
        height: 50vh;
        width: auto;
        
    }
    .sizeConsole{
        width: 90vw;
        height: 20vh;
        margin:auto;
    }
    .contentConsole{
        padding:1vw;
        height:fit-content;
        background-color: black;
        color: greenyellow;
    }
    .contactText{
        font-size: 3vw;
        margin-top:2vw;
    }
}
