.content {
    position: fixed;
    bottom: auto;
    color: #00fd37;
    padding: 20px;
}


#BoutonHome {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;

    .TexteBouton {
        text-decoration: none;
        color: #00fd37;
    }
}

#BoutonHome:hover {
    background: #00fd37;
    color: black;
    text-decoration-color: #000;

    .TexteBouton {
        color: black;
    }
};