.containerPerso{
    display: flex;
    width: 70vw;
    margin:auto;
}

.contentPerso{
    width: 40vw;
    height: 20vw;
    margin: auto 0 auto 2vw;
    position: relative;
}

.textePerso{
    width: 50%;
}

@media (max-width: 900px) {
    .textePerso{
        width: 100%;
    }
    .contentPerso{
        margin: auto ;
    }
    .containerPerso{
        width: auto;
    }
}
