.bgDevImage{ 
	height: 60vh; 
	margin: auto 10px auto auto;
}

.containerHome{
	position: static;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.titleHome{
	width: 40vw;
	color: white;
	margin: auto 0;
	font-size: 5vw;
}

@media (max-width: 900px) {
    .containerHome{
		flex-direction: column;
		height: auto;
    }

	.bgDevImage{ 
		height: auto; 
		margin: 15vh 0 0 0 ;
	}
	.titleHome{
		text-align: center;
		margin: 15vh 0 0 0;
		font-size: 10vw;
		align-self: center;
	}
}