.homeText{
	margin: auto;
	text-align: center;
	background-image: linear-gradient(to right, #92D7CF, #0D564F); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	background-clip: text;
}

.bgDevImage{ 
	object-fit: cover;
    width: 60vw;
    /* height: 100%; */
	margin: auto 10px auto auto;
}

.containerHome{
	position: static;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.titleHome{
	width: 40vw;
	color: white;
	margin: auto;
	font-size: 5vw;
}

@media (max-width: 900px) {
    .containerHome{
		flex-direction: column;
		height: 100vh;
    }

	.bgDevImage{ 
		margin: auto;
    	width: 100%;
	}
	.titleHome{
		text-align: center;
		margin: 15vh auto 0;
		font-size: 7vw;
		align-self: center;
	}
}