.experienceBackground{
    margin-top: 20px;
    margin-bottom: 10vh;
    width: fit-content;
    background-color: #0D564F;
    box-shadow: 4px 4px 0 0 #0B3530;
}

.schoolTitle {
    margin: 0;
    font-size: 2vw;
    color: black;
}

.schoolDescription{
    font-size: 1vw;
    color: black;
}

@media (max-width: 900px) {
    .experienceBackground{
        margin-bottom: 2vh;
        box-shadow: 2px 2px 0 0 #0B3530;
    }
  }