.containerTimeline{
  width: 70vw;
}

.containerTimeline{
  margin:auto;
  text-align: center;
}

.experience{
  display: flex;
}
.timeline{
  margin: 0 1vw;
}
.centerItem{
  width:6%;
}

.time{
  margin: 0 1vw;
  margin-top: 20px;
  height: fit-content;
  width: fit-content;
}

.timeline{
  position: relative;
  width: 5px;
  background-color: #7BA39D;
}

.cercle {
  width: 20px; 
  height: 20px; 
  background-color: #7BA39D; 
  border-radius: 50%; 
  position: absolute;
  top: 20px;
  left: 50%; 
  transform: translateX(-50%); 
}

.dateH2{
  top: 20px;
  margin:0;
}


@media (max-width: 900px) {
  .containerTimeline{
    margin:0;
  }
}

.sideItem{
  width:47%;
}
