@font-face {
    font-family: 'Sweety';
    src: url('./assets/texte/Sweety.ttf') format('truetype');
  }
body {
    font-family: 'Source Sans Pro', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    background-color:#04181D;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

h1{
    font-size: 5vw;
    margin: 5vw;
}

h2{
    font-size: 3vw;
}

h4{
    font-size: 2vw;
}


a{
    font-size: 1vw;
    text-decoration: none;
}

p{
    font-size: 1vw;
}




@media (max-width: 900px) {
    h1{
        font-size: 10vw;
        margin: 5vw;
    }
    p{
        font-size: 3vw;
    }
    h2{
        font-size: 7vw;
        text-align: center;
    }
    h4{
        font-size: 4vw;
    }
}
