.listStyle{
    list-style: none;
}

.shapePerso{
    float: left;
    shape-outside: url("../../assets/images/rond.png");
    max-width: 15vw;
    height: auto;
}

.font{
    font-size: medium;
    color: white;
}

.containerAboutMe {
    width: 70vw;
    margin:auto;
    display: table;
}

.buttonCv{
    margin: 5vh;
    width: auto;
}

@media (max-width: 900px) {
    .containerAboutMe {
        width: 70vw;
        display: flex;
        flex-direction: column;
    }
    .shapePerso{
        margin: auto;
        float: none;
    }
    .buttonCv{
        margin: 0;
        width: 100%;
    }
}