.banner-wrapper {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.banner {
    position: absolute;
    overflow: hidden;
    
    &.dev {

    transform: skew(0deg);
    margin-left: -500px;
    width: calc(50vw + 500px);
    .banner-content {
        transform: skew(0deg);
        margin-left: 500px;
    }
    }
    img {
    width: 100vw;
    }
}

.container{
    margin:auto;
    width: 90vw;
}